<div class="project-container">

  <div class="row">
      <div class="col-md-4">
        <h3>{{title}}</h3>
        <h4>{{client}}</h4>
        <p>{{description}}</p>
      </div>
      <div class="col-md-8">
        {{#each videos}}
        <div class="row project-player">
          <div class='col-md-12'>
            <div class="vimeo-player">
              <iframe
                src={{video-url}}
                width="100%"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
        {{/each}}
        <div class="row">
          <div class="project-image-container">
            {{#each images}}
              <div class="col-md-6">
                <img class="img-responsive" src={{img-src}}>
                <p class="project-image-caption">{{caption}}</p>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
  </div>
</div>
